// Responsive

// ----- 768px ----- //

@media screen and (min-width: 768px) {

  .heading {
    padding-top: 120px;
    position: relative;
    z-index: 5;
    h1 {
      margin-bottom: 260px;
    }
  }

  // Quiz

  .quiz {
    padding: 74px 0 120px;
  }
  
  .quiz_heading {
    margin-bottom: 80px;
  }

  .progress_bar {
  }
  .progress {
  }
  .indicator {
  }
  .progress_count {
  }
  .question_block {
  }
  .answer_list {
    margin: 80px auto;
  }
  .answer {
  }
  .a {
  }
  .b {
  }
  .c {
  }
  .next_btn {
  }
  .btn {
  }

}